<%- partial('_partial/dots') %>
<div class="mt-archives  mt-archives--title-only">
    <%
    let lastPost;
    page.posts.forEach((post, idx) => {
    if (!lastPost || lastPost && (lastPost.date.year() !== post.date.year())) { %>
        <%- partial('_partial/year', {post}) %>
    <% } %>
    <%- partial('_partial/article', {post: post, full: false}) %>
    <% if (idx % 5 === 4) { %>
        <%- partial('_partial/ads/archives') %>
    <% }
        lastPost = post;
    }); %>
</div>
<%- partial('_partial/pagination') %>
