<%- partial('_partial/header-index') %>
<div class="mt-archives">
    <%
    let lastPost;
    page.posts.forEach((post, idx) => {
    if (!lastPost || lastPost && (lastPost.date.year() !== post.date.year())) { %>
        <div class="mt-archives__year">
            <a href="/archives/<%= post.date.year() %>/">
                &lt;!--<%= post.date.year() %>--&gt;
            </a>
        </div>
    <% }

        let isLatest = is_home() && !page.prev && idx === 0;
        let articleClass = isLatest ? 'mt-article--latest' : '';
        lastPost = post; %>
    <%- partial('_partial/article', {post: post, full: isLatest, articleClass}) %>
    <% }); %>
</div>
<% if (page.total > 1){ %>
    <nav class="mt-page-nav">
        <%
            const prev_text = "&laquo; " + __('prev');
            const next_text = __('next') + " &raquo;" %>
        <%- paginator({
            prev_text,
            next_text
        }) %>
    </nav>
<% } %>
