<%
let unsplashId = page.unsplash || (is_home() && post.isLatest && post.unsplash);
if(unsplashId) {
    let unsplashUrl = `https://source.unsplash.com/${unsplashId}/1440x600`; %>
<div class="mt-unsplash">
    <figure style="background-image: url(<%= unsplashUrl %>)"></figure>
</div>
<% } %>
<%
let articleClass = post.isLatest ? 'mt-article--latest' : '';
let typographyClass = post.typography ? `mt-typography--${post.typography}` : ''; %>
<article class="mt-article <%= articleClass %> mt-typography <%= typographyClass %>"
         id="<%= post.slug %>" lang="<%= post.lang || config.language %>">
    <div class="mt-container  mt-article__container">
        <header class="mt-article__header">
            <div class="mt-article__metas">
                <span class="mt-article__date">
                    <% if(is_post() || is_page()) { %>
                        <%= post.date.format('MMM DD, YYYY') %>
                    <% } else { %>
                        <%= post.date.format('MMM DD') %>
                    <% } %>
                </span>
                <svg class="icon">
                    <use xlink:href="#icon-pencil"></use>
                </svg>
                <span class="mt-article__categories">
                <%- list_categories(post.categories, {
                    show_count: false,
                    class: 'mt-article__category',
                    style: 'none',
                    separator: ''
                }) %>
                </span>
            </div>
            <h1 class="mt-article__title">
                <% if(is_post() || is_page()) { %>
                    <%- post.title %>
                <% } else { %>
                    <a href="<%= url_for(post.path) %>"><%- post.title %></a>
                <% } %>
            </h1>
        </header>
        <% if(full || (is_home() && !post.excerpt)){ %>
            <div class="mt-article__body">
                <%- partial("_partial/front-matter") %>
                <div class="mt-article__main">
                    <%- post.content %>
                </div>
            </div>
        <% } else if(post.excerpt && is_home()) { %>
            <div class="mt-article__body">
                <%- partial("_partial/front-matter") %>
                <div class="mt-article__main">
                    <%- post.excerpt %>
                </div>
            </div>
        <% } %>
        <% if(is_home() || is_post()){ %>
            <footer class="mt-article__footer">
                <% if ((full || !post.excerpt) && is_home() && post.comments && config.disqus_shortname) { %>
                    <a href="<%- post.permalink %>#disqus_thread"
                       class="mt-article__footer-action  mt-article__comment-link">
                        <svg class="icon">
                            <use xlink:href="#icon-commenting"></use>
                        </svg>
                        <%= __('comment') %></a>
                <% } %>
                <% if (!full && post.excerpt && is_home()){ %>
                    <a href="<%- url_for(post.path) %>#more"
                       class="mt-article__footer-action  mt-article__more-link">
                        <svg class="icon">
                            <use xlink:href="#icon-eye"></use>
                        </svg>
                        <%= __('read_more') %></a>
                    </a>
                <% } %>
            </footer>
        <% } %>
    </div>
</article>
